.App {
	padding: 1.5vh 1.5vw;
}

.App-header {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: fit-content;
}

main {
	width: 100%;
	height: fit-content;
}

.container {
	width: fit-content;
	height: 50px;

	margin: 0 auto;

	position: relative;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	transition: all 2s ease-in-out;
}

.container.open {
	height: fit-content;
	background-color: skyblue;
	border-radius: 5px;
}

.container:not(:last-child) {
	margin-bottom: 10px;
}

.container > .title-grid {
	width: 410px;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-radius: 5px;

	background-color: cornflowerblue;
	color: #ffffff;

	padding: 0 45px;
}

.container > .title-grid > .title {
	width: fit-content;
	font-size: 28px;
	text-align: center;
}

.container .content {
	width: 100%;
	height: 50px;
	font-size: 28px;
	text-align: left;

	display: flex;
	align-items: center;

	padding: 0 45px;

	color: #ffffff;

	border-radius: 5px;

	box-sizing: border-box;
}

@keyframes open {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

/* .container .content-grid {
	transition: all 0.5s ease-in-out;
	height: 0;
}

.container .content-grid.open {
	transition: all 0.5s ease-in-out;
	height: fit-content;
} */
